<div>
    <mat-card>
        <b>Isajar Spector, Noviembre de 2018</b>
    </mat-card>
    <mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="workIn">
            <mat-header-cell *matHeaderCellDef> Entrada </mat-header-cell>
            <mat-cell *matCellDef="let stamp"> {{stamp.workIn | date:'shortTime'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="workOut">
            <mat-header-cell *matHeaderCellDef> Salida </mat-header-cell>
            <mat-cell *matCellDef="let stamp"> {{stamp.workOut | date:'shortTime'}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row #rowRef *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>